#Gastronomia {
  background-color: black;
  height: 100vh;
  background-image: url("../../assets/gastronomia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
