#turismo {
  background-color: black;
  height: 120vh;
  background-image: url("./assets/turismo.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tarjetas {
  color: black;
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  border-radius: 15px;
  margin: 30px;
  transition: transform 0.9s ease;
}

#tarjetas:hover {
  transform: translateY(-100px);
}

#tarjetas img {
  width: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#tarjetas h2 {
  align-self: center;
}

#tarjeta-interior {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#titulo {
  font-size: 5em;
  margin: 0px;
  padding: 70px;
}

#tarjetas button {
  align-self: center;
  text-decoration: none;
  width: 100px;
  color: black;
  font-size: 1em;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

#tarjetas-div {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  width: 90vw;
}
